@charset "UTF-8";
body{
    font-family:Arial, Helvetica, sans-serif;

    /* 
    Medidas Absolutas: cm, mm, in, px, pt, pc
        -> px, é o mais recomendado 
        -> 16px é o padrão utilizado nos textos
    Medidas Relativas: em, ex, rem, vw, vh, %
        -> em, é o mais recomendado
        -> 16px é geralmente = 1em

        -> DE PREFERENCIA PARA O 'em'
    */
    
    font-size: 1em;
}
h1{
    font-size: 3em;
    font-weight: 600;
}
h2{
    /*
    Shorthand font
    - font-style -> font-weight -> font-size -> font-family
    font-style: italic;
    font-weigh: 300;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;

    */
    font: italic 300 1.5em Arial, Helvetica, sans-serif;
}

